/Library/
/Temp/
/Logs/
/Obj/
/Build/
/Builds/
/.utmp/
/*_BackUpThisFolder_ButDontShipItWithYourGame/
/*_BurstDebugInformation_DoNotShip/
/*.csproj
/*.sln
/*.slnx
/*.user
/*.apk
/*.aab
/*.keystore
/user.keystore
/.vs/
/.idea/
